*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/img/img/algebra-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.data-cell{
    max-width: 100%;
}

.navigation-container {
    width: 100%;
    position: fixed;
    height: 3em;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 5000;
}


#mobile-navbar-icon{
    display: none;
}

a{
    text-decoration: none !important;
}

a:link,  a:active, a:visited{
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

a:hover{
    background-color: #312923;
    color: #fff930 !important;
    border-radius: 10px;
    font-size: 16px;
    height: 100%;
}

a > span {
    text-align: left;
}

.nav-page-logo{
    justify-self: center;
    max-width: 100%;
    display: block;
    max-height: 100%;
}

.nav-icon{
    color: #ffb42e;
    width: 5px !important;
    height: 5px !important;
    justify-self: start;
}

.navigation-left{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,125px);
    gap: 15px
}


.navigation-right{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,125px);
    grid-column: 3/3;
    animation-name: right-image-slide-left;
    animation-duration: 2s;
}

.nav-item{
    display: table;
    vertical-align: middle;
    text-align: center !important;
    font-weight: bold;
    width: 100%;
    height: auto;
    line-height: 50px;
    position: relative;
}

.nav-item-r{
    color: #ffb42e !important;
    height: 100%;
}

.nav-item-l{
    color: white !important;
}

.nav-item-l > i, .nav-item-l > span{
    display: inline;
}

.nav-item-l > a, .nav-item-l > i {
    vertical-align: middle;
}

.nav-item-l > i{
    margin-right: 5px;
}

.main-image-container{
    max-width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(rgba(52, 26, 15, 0.83), rgba(255, 59, 0, 0.45));
}

.main-page-image-1{
    position: absolute;
    clip-path: polygon(0% 0%, 75% 0%, 0% 100%);
    background-image: linear-gradient(rgba(52, 26, 15, 0.83), rgba(255, 59, 0, 0.45)),url("../assets/img/img/kampus-iz-zraka-min-1.jpg");
    height: 100%;
    width: 100%;
    animation-name: left-image-slide-right;
    animation-duration: 1s;
}

.main-page-image-2{
    display: grid;
    position: absolute;
    clip-path: polygon(76% 0%, 100% 0%, 100% 100%, 1% 100%);
    background-image: linear-gradient( rgba(255, 59, 0, 0.45), rgba(52, 26, 15, 0.83)),url("../assets/img/img/galerija2.jpg");
    width: 100%;
    height: 100%;
    z-index: 9;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    animation-name: right-image-slide-left;
    animation-duration: 1s;
}

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
    max-height: 400px
}
.fireEffect {
    position: absolute;
    z-index: 11;
    padding: 0 10%;
    bottom: -60px;
}

.titleContainer{
    margin-top: 20px;
    display: grid;
    position: absolute;
    z-index: 12;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    animation-name: fadein;
    animation-duration: 2s;
}

.main-title{
    text-align: center;
    grid-column: 1/7;
    grid-row: 2/2;
    font-size: 60px;
}

.main-subtitle{
    max-width: 100%;
    text-align: center;
    grid-column: 2/4;
    grid-row: 3/3;
}

.main-moto{
    font-size: 75px;
    text-align: right;
    grid-column: 2/2;
    grid-row: 6/6;
}

.main-about-us-title{
    grid-column: 7/9;
    grid-row: 4/4;
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;
}

.about-us-text{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    grid-column: 6/10;
    grid-row: 9/5;
    background-color: rgba(3, 3, 4, 0.48);
    border-radius: 25px;
}

.cards-container{
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding-right: 10em;
    padding-left: 10em;
    gap: 1em;
}

.card{
    max-width: 100%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border: #2d304b;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    object-fit: cover;
}

.card > img{
    align-self: center;
    width: auto;
    height: 30%;
    max-height: 10em;
    bottom: 0;
    max-width: 100%;
}

.card-title{
    max-width: 100%;
    font-weight: bold;
}

.card-title > span {
    color: #4f8aff;
    font-size: 20px;
}

.card-body{
    max-width: 100%;
    margin-top: 20px;
    font-size: 15px;
}

.breakpoint-title-container{
    max-width: 100%;
    margin-top: 50px;
    color: #cc2222;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.breakpoint-title-container > h1, .breakpoint-title-container > i {
    display: inline;
}

.breakpoint-title-container > i {
    vertical-align: bottom;
    font-size: 60px;
    font-weight: bold;
}

.breakpoint-title-container > h1{
    font-size: 50px;
}

.history-body{
    font-size: 25px;
    padding: 5em 7em 5em 7em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: black;
    opacity: 0;
    margin-top: 2em;
}

.sponsors-container{
    align-content: center;
    padding-right: 10em;
    padding-left: 10em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 100px;
}

.sponsor-title{
    font-size: 25px;
}

.sponsor-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    justify-items: center;
}

.location-info-container{
    margin-top: 7em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-left: 10em;
    padding-right: 10em;
}

.location-info-card{
    color: black;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr
}

.location-info{
    text-align: left;
    padding: 15px;
}

.location-info > div {
    padding: 25px;
}

.location-info > i {
    vertical-align: bottom;
}

.location-info > h3, .location-info > i {
    display: inline;
    color: #0707bd;
}

.map-container{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    background-image:linear-gradient(rgba(52, 26, 15, 0.21), rgba(255, 59, 0, 0.45)), url("../assets/img/img/zaiskri-bg.jpg");
    padding: 2em 14em 2em 14em;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.map-container > h1 {
    margin-top: 6em;
}

.map-container >h2{
    font-family: 'Work Sans', sans-serif;
    margin-top: 0.5em;
    font-weight: bolder;
    font-size: 60px;
    color: #cc2222;
}


.background-laptop{
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.typer{
    text-align: center;
    max-width: 100%;
    font-size: 4em;
    color: white;
    position:absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    z-index:1;
    align-content: center;
}

.typer > p, .typer > span {
    display: inline;
}

#googleMap{
    width:100%;
    height:50%;
}

#shell{
    max-width: 100%;
    color: #45f519;
}

.news-container{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 25%;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.news-container > h1 {
    height: 100px;
    padding: 100px;
    font-size: 55px;
    font-weight: bold;
    max-width: 100%;
}

.news-items{
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 15%;
    gap: 150px;
    padding-right: 15%;
    padding-bottom: 30px;
}

.footer-news{
    background-image: url("../assets/img/img/zaiskri-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    max-width: 100%;
}

.footer-news > h1{
    color: white;
}

.footer-news > h2{
    color: #b91c1c;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 60px;
}

.news-circle{
    max-width: 100%;
    cursor: pointer;
    height: 300px;
    width: 300px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 20px;
    text-align: center;
    background-size: cover;
    border-radius: 50%;
    border: whitesmoke solid;
    border-width: 20px;
    box-shadow: 10px 0 #80808036, 0 10px #80808036, -10px 0 #80808036, 0 -10px #80808036;
    animation-name: zoomin;
    animation-duration: 1s;
}
.news-circle-outer{
    max-width: 100%;
}
.news-circle-outer:hover{
    animation-name: hoverzoomin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    max-width: 100%;
}

.news-circle-outer:hover:after{
    animation-name: hoverzoomout;
    animation-duration: 1s;
}

.news-body{
    padding: 3%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    max-width: 100%;
}

.news-title{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
    text-align: center;
    color: #ffb42e;
    padding: 130px;
}

.news-title > h1 {
    background-color: #5836154f;
    border-radius: 15px;
}

#news-1-title{
    background-image: url("../assets/img/img/novost1.jpg");
}

#news-2-title{
    background-image: url("../assets/img/img/novost2.jpg");
}

#news-3-title{
    background-image: url("../assets/img/img/novost3.jpg");
}

.data-container{
    display: grid;
    text-align: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15%;
    padding-right: 15%;
    max-width: 100%;
}

#subject-search{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    height: 1.5em;
    max-width: 100%;
    width: 100%;
}

.search-cell{
    padding-right: 7em;
    padding-left: 7em;
    max-width: 100%;
}

.search-cell > input{
    margin-top: 50px;
    grid-column: 2/2;
    grid-row: 1/1;
    max-width: 100%;
}

.suggestion-box{
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: #80808087;
    width: 100%;
    max-height: 20em;
    overflow: hidden;
    border-radius: 15px;
    max-width: 100%;

}

.suggestion-box > ul {
    height: 20em;
    list-style-type: none;
    overflow-y: scroll;
}

.auto-cpl-li{
    padding-top: 3px;
    vertical-align: baseline;
    height: 37px;
}

.auto-cpl-li:hover{
    cursor: pointer;
    color: #b91c1c;
    background-color: #80808042;
}

.modal {
    font-family: 'Montserrat', sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-mail-icon{
    color: #4f8aff;
    width: 5px !important;
    height: 5px !important;
    margin-bottom: 1em;
}

.modal-form{
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    gap: 1em;
}

#news-letter-label{
    display: inline;

}
.modal-input-sm{
    margin-top: 5px;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid grey;
}

.modal-input-bg{
    margin-top: 5px;
    width: 100%;
    height: 13em;
    border-radius: 5px;
    border: 1px solid grey;
}

#send-form-btn{
    background-color: blue;
    height: 3em;
    width: 5em
}

#exit-form-btn{
     height: 3em;
     width: 5em
}

#newsletter-checkbox{
    margin-top: 1em;
    margin-left: 1em;
    justify-self: baseline;
}

.form-submit-cell{
    margin-top: 1em;
}

@keyframes hoverzoomin {
    0%{

    }
    100%{
        transform: scale(1.1) translateY(-5%);
    }
}

@keyframes hoverzoomout {
    0%{
        transform: scale(1.1) translateY(-5%);
    }
    100%{
        transform: scale(1)
    }
}

@keyframes zoomin {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.news-circle > span {
    font-size: 25px;
    margin-top: 20px;
    color: orange;
    font-weight: bold;
}

.news-circle > div{
    font-size: 20px;
    margin-top: 20%;
    color: white;
    padding: 11px;
    vertical-align: bottom;
    height: 100%;
    line-height: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



td, th {
    border-top: grey solid 1px;
    border: none;
    text-align: left;
    padding: 8px;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #80808087;
}

tr:last-child{
    border-top: black solid 2px;
    font-weight: bold;
}

tr:last-child > td:not(:first-child){
    color: red;
}


tr{
    border-top: grey solid 1px;
}


button{
    background-color: red;
    color: white;
    border: none;
    height: 25px;
    width: 60px;
    border-radius: 5px;
    font-weight: bold;
}

#circ-1{
    background-image: url("../assets/img/img/novost1.jpg");
}
#circ-2{
    background-image: url("../assets/img/img/novost2.jpg");
}
#circ-3{
    background-image: url("../assets/img/img/novost3.jpg");
}


@keyframes left-image-slide-right{
    0% {
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes right-image-slide-left {
    0% {
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}


@keyframes fadein {
    0%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#cursor {
    animation:500ms blinker linear infinite;
    color: white;
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@media (max-width: 1200px) and (max-width: 768px) {
    .navigation-container{
        width: 3em;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        height: 100%;
        padding-left: unset;
    }
    .navigation-left{
        grid-template-columns: 1fr;
        grid-template-rows: 3em repeat(4, 1fr);
        display: none;
    }

    .nav-bar-animate-in{
        animation-name: navbar-slidein;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }

    .nav-bar-animate-out{
        animation-name: navbar-slideout;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }

    @keyframes navbar-slidein {
        from{ width: 3em}
        to{width: 12em}
    }

    @keyframes navbar-slideout {
        from{ width: 12em}
        to{width: 3em}
    }


    .navigation-left-slidein{
        animation-name: navbar-left-slidein;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    @keyframes navbar-left-slidein {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
}

@media (max-width: 1200px){
    .typer{
        font-size: 35px;
    }

    video{
        transform: scale(1.3);
    }
}

@media (max-width: 768px) {
    video{
        transform: scale(7.5);
        width: auto;
    }

    .background-laptop{
        padding: 5em;
    }

    .typer{
        top: 30%;
    }

    #mobile-navbar-icon{
        align-self: end;
        justify-self: center;
        font-size: 40px;
        display: unset;
    }

    .navigation-right{
        display: none;
    }

    .cards-container{
        padding-left: 3.5em;
        padding-right: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .titleContainer{
        text-align: center;
        max-height: 100%;
    }

    .main-title{
        grid-row: 1/1;
    }

    .main-subtitle{
        grid-column: 1/6;
        grid-row: 2/2;
        margin-top: 1em;
        margin-left: 3em;
    }

    .about-us-text{
        text-align: center;
        padding: 7px;
        color: white;
        font-size: 14px;
        font-family: 'Dancing Script', cursive;
        grid-column: 3/10;
        grid-row: 11/8;
        background-color: rgba(3, 3, 4, 0.48);
        border-radius: 25px;
    }

    .main-about-us-title{
        grid-column: 3/10;
        grid-row: 7/7;
    }

    .main-moto{
        display: none;
    }

    .history-body{
        font-size: 22px;
        padding: 0em 1em 3em 3em;
    }

    .breakpoint-title-container > i {
        margin-left: 0.5em;
    }

    .sponsors-container{
        grid-template-rows: repeat(4,20em);
        grid-template-columns: repeat(2, 9.5em);
        padding-left: 5.5em;
        padding-right: 1em;
        max-width: 100%;
    }

    .card > img{
        height: 20%;
    }

    .location-info-container{
        gap: 0.5em;
        padding-left: 3.5em;
        padding-right: 1em;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        font-size: 15px;
    }

    .map-container{
        padding: 2em 1em 2em 3.5em;
    }

    .search-cell{
        padding-left: 6.5em;
        padding-right: 1em;
    }

    .search-cell > h3{

    }

    .data-container{
        padding-right: 5%;
        padding-left: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    #subject-search{
        width: 65%;
    }

    table{
        transform: scale(0.75);
    }

    .map-container > h1 {
        margin-top: 1em;
    }

    .suggestion-box{
        width: 67%;
    }

    .suggestion-box > ul {
        font-size: 11px;
    }
}

video {
    max-width: 100% !important;
    max-height: 100% !important;
}