*{
    margin: 0;
    padding: 0;
}

.navigation-container {
    position: fixed;
    top: 0;
    height: 50px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 5000;
}

a{
    text-decoration: none !important;
}

a:link,  a:active, a:visited{
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

a:hover{
    background-color: #312923;
    color: #fff930 !important;
    border-radius: 10px;
    font-size: 16px;
    height: 100%;
}

a > span {
    text-align: left;
}

.nav-page-logo{
    margin-left: 50px;
    align-self: center;
    height: 75%;
    display: block;
}

.nav-icon{
    color: #ffb42e;
    width: 5px !important;
    height: 5px !important;
    justify-self: start;
}

.navigation-left{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,125px);
    gap: 15px
}


.navigation-right{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,125px);
    grid-column: 3/3;
    animation-name: right-image-slide-left;
    animation-duration: 2s;
}

.nav-item{
    display: table;
    vertical-align: middle;
    text-align: center !important;
    font-weight: bold;
    width: 100%;
    line-height: 50px;
    vertical-align: center !important;
    position: relative;
}

.nav-item-r{
    color: #ffb42e !important;
    height: 100%;
}

.nav-item-l{
    color: white !important;
}

.nav-item-l > i, .nav-item-l > span{
    display: inline;
}

.nav-item-l > a, .nav-item-l > i {
    vertical-align: middle;
}

.nav-item-l > i{
    margin-right: 5px;
}

.main-image-container{
    height: 100%;
    position: relative;
    background-image: linear-gradient(rgba(52, 26, 15, 0.83), rgba(255, 59, 0, 0.45));
}

.main-page-image-1{
    position: absolute;
    clip-path: polygon(0% 0%, 75% 0%, 0% 100%);
    background-image: linear-gradient(rgba(52, 26, 15, 0.83), rgba(255, 59, 0, 0.45)),url("../assets/img/img/kampus-iz-zraka-min-1.jpg");
    height: 100%;
    width: 100%;
    animation-name: left-image-slide-right;
    animation-duration: 1s;
}

.main-page-image-2{
    display: grid;
    position: absolute;
    clip-path: polygon(76% 0%, 100% 0%, 100% 100%, 1% 100%);
    background-image: linear-gradient( rgba(255, 59, 0, 0.45), rgba(52, 26, 15, 0.83)),url("../assets/img/img/galerija2.jpg");
    width: 100%;
    height: 100%;
    z-index: 9;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    animation-name: right-image-slide-left;
    animation-duration: 1s;
}

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
    max-height: 400px
}
.fireEffect {
    position: absolute;
    z-index: 11;
    padding: 0 10%;
    bottom: -60px;
}

.titleContainer{
    margin-top: 20px;
    display: grid;
    position: absolute;
    z-index: 12;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    animation-name: fadein;
    animation-duration: 2s;
}

.main-title{
    text-align: center;
    grid-column: 1/7;
    grid-row: 2/2;
    font-size: 60px;
}

.main-subtitle{
    text-align: center;
    grid-column: 2/4;
    grid-row: 3/3;
}

.main-moto{
    font-size: 75px;
    text-align: right;
    grid-column: 2/2;
    grid-row: 6/6;
}

.main-about-us-title{
    grid-column: 5/5;
    grid-row: 3/3;
    text-align: right;
    animation-name: fadein;
    animation-duration: 3s;
}

.about-us-text{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    grid-column: 6/10;
    grid-row: 9/5;
    background-color: rgba(3, 3, 4, 0.48);
    border-radius: 25px;
}

.cards-container{
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding-right: 130px;
    padding-left: 130px;
    gap: 10px;
}

.card{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border: #2d304b;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.card > img{
    margin-top: 15px;
    align-self: center;
    width: 50%;
    height: auto;
    max-height: 175px;
    bottom: 0;
}

.card-title{
    font-weight: bold;
}

.card-title > span {
    color: #4f8aff;
    font-size: 20px;
}

.card-body{
    margin-top: 20px;
    font-size: 15px;
}

.breakpoint-title-container{
    margin-top: 50px;
    color: #cc2222;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.breakpoint-title-container > h1, .breakpoint-title-container > i {
    display: inline;
}

.breakpoint-title-container > i {
    vertical-align: bottom;
    font-size: 60px;
    font-weight: bold;
}

.breakpoint-title-container > h1{
    font-size: 50px;
}

.history-body{
    font-size: 25px;
    padding: 100px 300px 100px 300px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: black;
    opacity: 0;
}

.sponsors-container{
    align-content: center;
    padding-right: 130px;
    padding-left: 130px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 100px;
}

.sponsor-title{
    font-size: 25px;
}

.sponsor-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    justify-items: center;
}

.location-info-container{
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-left: 200px;
    padding-right: 200px;
}

.location-info-card{
    color: black;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr
}

.location-info{
    text-align: left;
    padding: 15px;
}

.location-info > div {
    padding: 25px;
}

.location-info > i {
    vertical-align: bottom;
}

.location-info > h3, .location-info > i {
    display: inline;
    color: #0707bd;
}

.map-container{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    background-image:linear-gradient(rgba(52, 26, 15, 0.21), rgba(255, 59, 0, 0.45)), url("../assets/img/img/zaiskri-bg.jpg");
    padding: 50px 225px 50px 225px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.map-container > h1 {
    margin-top: 20px;
}

.map-container >h2{
    font-family: 'Work Sans', sans-serif;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 60px;
    color: #cc2222;
}


.background-laptop{
    position: relative;
    text-align: center;
}

.typer{
    font-size: 60px;
    color: white;
    position:absolute;
    top: 50%;
    left: 2em;
    z-index:1;
}

.typer > p, typer > span {
    display: inline;
}

#shell{
    color: #45f519;
}

.news-container{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: 1fr;
}

.news-container > h1 {
    height: 100px;
    line-height: 6em;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.news-items{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 15%;
    gap: 150px;
    padding-right: 15%;
    padding-bottom: 30px;
}

.footer-news{
    background-image: url("../assets/img/img/zaiskri-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.footer-news > h1{
    color: white;
}

.footer-news > h2{
    color: #b91c1c;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 60px;
}

.news-circle{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 20px;
    text-align: center;
    background-size: cover;
    border-radius: 50%;
    border: whitesmoke solid;
    border-width: 20px;
    box-shadow: 10px 0 #80808036, 0 10px #80808036, -10px 0 #80808036, 0 -10px #80808036;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.news-circle:hover{
    animation-name: hoverzoom;
    animation-duration: 1s;
}

@keyframes hoverzoom {
    0%{

    }
    100%{
        transform: scale(1.1) translateY(-5%);
    }
}

@keyframes zoomin {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.news-circle > span {
    font-size: 25px;
    margin-top: 20px;
    color: orange;
    font-weight: bold;
}

.news-circle > div{
    font-size: 20px;
    margin-top: 50px;
    color: white;
    padding: 15px;
    vertical-align: bottom;
    height: 100%;
    line-height: 25px;

}

#circ-1{
    background-image: url("../assets/img/img/novost1.jpg");
}
#circ-2{
    background-image: url("../assets/img/img/novost2.jpg");
}
#circ-3{
    background-image: url("../assets/img/img/novost3.jpg");
}


@keyframes left-image-slide-right{
    0% {
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes right-image-slide-left {
    0% {
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}


@keyframes fadein {
    0%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#cursor {
    animation:500ms blinker linear infinite;
    color: white;
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}