<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <title>SUPIT - projektni zadatak</title>
</head>
<body class="body-black">
<header class="navigation-container">
    <div class="navigation-left">
        <img class="nav-page-logo" src="../assets/img/img/Algebra-logo.png" alt="">
        <a href="main-page.html" class="nav-item nav-item-l">
            <i class="material-icons nav-icon">home</i>
            <span>Pocetna</span>
        </a>
        <a href="about-us.html" class="nav-item nav-item-l">
            <i class="material-icons nav-icon">question_answer</i>
            <span>O nama</span>
        </a>
        <a href="news.html" class="nav-item nav-item-l">
            <i class="material-icons nav-icon">info</i>
            <span>Novosti</span>
        </a>
        <a href="subjects.html" class="nav-item nav-item-l">
            <i class="material-icons nav-icon">info</i>
            <span>Nastavni plan</span>
        </a>
        <a id="contact-nav-btn" href="#" class="nav-item nav-item-l">
            <i class="material-icons nav-icon">all_inbox</i>
            <span>Kontakt</span>
        </a>
    </div>
</header>
<div class="news-container">
    <h1>NOVOSTI</h1>
    <div class="news-items">
        <div class="news-circle-outer">
        <div id="circ-1" class="news-circle">
                <span>28.08.2019</span>
                <div>Student Josip Staneić 12. je sistemaš svijeta i dobotnik metalje izvrsnosti na natjecanju WorldSkills Kazan 2019.</div>
        </div>
        </div>
        <div class="news-circle-outer">
        <div id="circ-2" class="news-circle">
            <span>22.07.2019</span>
            <div>
                Nagrađujemo izvrsnost
                Objavljujemo dobitnike stipendijskog natječaja šk.god. 2018./2019.!
            </div>
        </div>
        </div>
        <div class="news-circle-outer">
        <div id="circ-3" class="news-circle">
            <span>18.04.2019</span>
            <div>Digitalno Junior ljeto</div>
        </div>
    </div>
    </div>
    <div class="footer-news">
        <h1>BUDI IZVRSTAN U ONOM STO VOLIS</h1>
        <h2>ZAISKRI</h2>
    </div>
</div>
<div id="contact-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-form">
            <i class="material-icons modal-mail-icon">email</i>
            <h3>Kontaktirajte nas</h3>
            <div>
                <h4>Puno ime:</h4>
                <input id="name-input" class="modal-input-sm" type="text">
            </div>
            <div>
                <h4>Email:</h4>
                <input id="email-input" class="modal-input-sm" type="text">
            </div>
            <div>
                <h4>Vaznost poruke:</h4>
                <input id="imporance-input" class="modal-input-sm" type="text">
            </div>
            <div>
                <h4>Vasa poruka</h4>
                <input id="msg-input" class="modal-input-bg" type="text">
            </div>
            <div>
                <h4 id="news-letter-label">Primaj newsletter</h4>
                <input id="newsletter-checkbox" type="checkbox">
                <div class="form-submit-cell">
                    <button id="send-form-btn">Posalji</button>
                    <button id="exit-form-btn">Odustani</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/news/circle-navigation.js"></script>
<script src="../js/contact/contact.js"></script>
<script src="../js/nav-bar/nav-bar.js"></script>
</body>
</html>